@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
 
* {
    box-sizing: border-box;
}


 body{
    display: inline-block;
    background-image: linear-gradient(rgb(217, 189, 218), rgb(84, 75, 99));
}
header{
    width: 100%;
}
.busmallimg{   
     margin-left:200px;
}
.busmallimg img{
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 5px;
}
h1{
    font-family: 'Pattaya', sans-serif;

}

li {
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
 button{
    background-color: rgb(78, 42, 112);
    height: 80px;
    width: 30%;
    font-size: 30px;
    margin: 15px;
}
.stylep{
    font-family: 'Caveat', cursive;
    font-size: 35px;

}
footer{
    background-color: rgb(24, 22, 26);
    color: rgb(233, 160, 240);
    width: 100%;
    
}